.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 9px;
}

/* ############################################### */
/* LOGIN */
/* ############################################### */

.login-form, .change-password-form{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.show-password-container{
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.login-options-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.login-link{
    color: #172e49;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
}