.info-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-icon {
  color: #555;
  transition: color 0.2s ease;
}

.tooltip-icon:hover {
  color: #000;
}

.tooltip-text {
  visibility: hidden;
  background-color: #f9f9f9; /* Fondo claro */
  color: #222; /* Color de texto más oscuro */
  text-align: left;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 16px; /* Más grande */
  font-weight: 500; /* Más grueso */
  line-height: 1.6;
  white-space: nowrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s ease;
}

.info-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.--relative {
  position: absolute;
}
